---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/main.astro";
import DiscordCard from "../components/DiscordCard.astro";
import ServerCard from "../components/ServerCard.astro";
---

<Layout>
  <div class="w-screen h-screen flex justify-center items-center bg-center bg-[url('/banner.webp')]">
    <div class="max-sm:w-full max-sm:mx-[2rem] items-center justify-center flex flex-col gap-2">
        <img src="https://github.com/Funasitien.png" class="h-32 w-32 rounded-full" />
        <h1 class="text-3xl font-bold font-[Minecraft_Five] mb-10">Funasitien</h1>
        
        <a href="https://funa.dev" class="btn btn-lg border-0 w-full bg-gradient-to-r from-cyan-400 via-sky-400 to-teal-400 text-white hover:scale-103 duration-300 transition-all ease-out">
          <Icon name="tabler:globe" />
          Portfolio
        </a>
        
        <a href="https://www.twitch.tv/fdreamcloud" target="_blank" class="btn btn-lg border-0 w-full bg-[#9146FF] text-white hover:scale-103 duration-300  transition-all ease-out">
          <Icon name="tabler:brand-twitch" />
          Twitch
        </a>
        
        <a href="https://www.youtube.com/@fdreamcloud" target="_blank" class="btn btn-lg border-0 w-full bg-[#FF0000] text-white hover:scale-103 duration-300  transition-all ease-out">
          <Icon name="tabler:brand-youtube" />
          Youtube
          <span class="badge badge-xs base-300">
            FR
          </span>
        </a>
        
        <a href="https://www.youtube.com/@funasitien" target="_blank" class="btn btn-lg border-0 w-full bg-[#FF0000] text-white hover:scale-103 duration-300  transition-all ease-out">
          <Icon name="tabler:brand-youtube" />
          Youtube
          <span class="badge badge-xs base-300">
            EN
          </span>
        </a>
        
        <a class="btn btn-lg border-0 w-full bg-[#5865F2] text-white hover:scale-103 duration-300  transition-all ease-out">
          <Icon name="tabler:brand-discord" />
          Discord
        </a>
        
        <a href="https://soundcloud.com/bydreamcloud" target="_blank" class="btn btn-lg border-0 w-full bg-[#FF5500] text-white hover:scale-103 duration-300  transition-all ease-out">
          <Icon name="tabler:brand-soundcloud" />
          SoundCloud
        </a>
        
      </div>
    </div>
  </div>
</Layout>
