---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/main.astro";
import DiscordCard from "../components/DiscordCard.astro";
import ServerCard from "../components/ServerCard.astro";
---

<Layout>
  <div class="w-screen h-screen flex justify-center items-center">
    <div class="card backdrop-blur-lg bg-white/10 rounded-2xl shadow-lg overflow-hidden border border-2 border-white/20 transition-all duration-300 hover:shadow-xl hover:border-white/30">
      <div class="card-body max-sm:card-compact flex flex-col items-center">

        <img src="https://github.com/Funasitien.png" class="rounded-full h-32 w-32" />

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <DiscordCard />
          <ServerCard />
        </div>
      </div>
    </div>
  </div>
</Layout>