---
import { Icon } from "astro-icon/components";
---
<div class="h-screen w-screen bg-base-100 flex flex-col gap-4 items-center justify-center">
<img class="h-32 w-32 animate-pulse" src="/dream.png" alt="Democraft Logo" />
</div>