---
import { Icon } from "astro-icon/components";
---

<!-- Glassmorphic Card Container -->
<div class="relative h-full">
  <!-- Glassmorphism effect with Tailwind -->
  <div class="backdrop-blur-lg bg-white/10 rounded-2xl shadow-lg overflow-hidden border border-white/20 transition-all duration-300 hover:shadow-xl hover:border-white/30">
    <!-- Card content -->
    <div class="h-full w-full p-6">

      <div id="discord-status-container" class="flex justify-center">
        <div class="flex flex-row">
          <div class="relative flex-shrink-0 mr-3">
            <img src="https://github.com/democraftmc.png" alt="Activity image" class="w-16 h-16 rounded-full object-cover">   
          </div>
          <div class="flex items-start space-x-3">
            <div class="flex-1 ">
              <p class="text-sm text-white/80">
                description
              </p>
              <a href="https://democraft.fr" class="text-xs flex flex-row justify-center text-white/60">
                <Icon name="tabler:app-window"/> democraft.fr
              </a>
              <a href="https://dsc.gg/democraft" class="text-xs flex flex-row justify-center">
                <Icon name="simple-icons:discord" /> dsc.gg/democraft
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Decorative elements -->
  <div class="absolute -inset-1 bg-gradient-to-br from-indigo-500/20 to-purple-500/20 rounded-2xl blur-sm opacity-70 z-[-1]"></div>
</div>