@import "tailwindcss";
@plugin "daisyui" {
    themes: pastel --default;
}



@font-face {
    font-family: "Minecraft Five";
    src:
      local("Minecraft Five"),
      url("https://mctitles.com/fonts/official/MinecraftFive.ttf") format("opentype"),
  }
  

  :root {
  --font: "Poppins";
  --default-font-family: "Poppins" !important;
}
